"""Type stubs for {{ plugin_name_title }} package."""

from .{{ plugin_name }} import {{ config_class }}, {{ plugin_class }}
from .{{ rust_lib_name }} import {{ engine_class }}

__all__ = [
    "{{ config_class }}",
    "{{ engine_class }}",
    "{{ plugin_class }}",
]
